name: Publish to npm

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Setup environment
        uses: ./.github/actions/setup-environment

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          registry-url: https://registry.npmjs.org

      - name: Build
        run: pnpm build

      - name: Publish
        run: npm publish --provenance --access public
